/.idea/
/Hyperskill Cafe/Reviews/task-info.yaml
/Hyperskill Cafe/Reviews/task-remote-info.yaml
/Hyperskill Cafe/The About page/task-info.yaml
/Hyperskill Cafe/The About page/task-remote-info.yaml
/Hyperskill Cafe/The Contact page/task-info.yaml
/Hyperskill Cafe/The Contact page/task-remote-info.yaml
/Hyperskill Cafe/The Footer/task-info.yaml
/Hyperskill Cafe/The Footer/task-remote-info.yaml
/Hyperskill Cafe/The Home page/task-info.yaml
/Hyperskill Cafe/The Home page/task-remote-info.yaml
/Hyperskill Cafe/The Navigation Bar/task-info.yaml
/Hyperskill Cafe/The Navigation Bar/task-remote-info.yaml
/Hyperskill Cafe/The Products page/task-info.yaml
/Hyperskill Cafe/The Products page/task-remote-info.yaml
/Hyperskill Cafe/lesson-info.yaml
/node_modules/
/course-remote-info.yaml
/course-info.yaml
